body {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   height: 100vh;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(-45deg, #536e7e, #859dab, #c3d0d4, #4a90b5);
   background-size: 400% 400%;
   animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
   0% {
       background-position: 0% 50%;
   }
   50% {
       background-position: 100% 50%;
   }
   100% {
       background-position: 0% 50%;
   }
}

.music-container {
   background-color: #d4d7c7; /* Light sage green */
   color: #505a5b; /* Complementary color for text */
   width: 300px;
   padding: 20px;
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   margin-bottom: 10px; /* Added for spacing if needed */
}

.music-header,
.music-controls,
.volume-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}
.volume-slider {
   width: 60%;
   height: 5px;
   background: #859dab; /* Lighter blue color for the track */
   outline: none;
}

/* Slider thumb */
.volume-slider::-webkit-slider-thumb {
   -webkit-appearance: none; /* Removes default styling in WebKit browsers */
   appearance: none;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background: #4a90b5; /* Blue color for the thumb */
   cursor: pointer;
}

.volume-slider::-moz-range-thumb {
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background: #4a90b5; /* Blue color for the thumb */
   cursor: pointer;
}

.music-header {
   margin-bottom: 20px;
}

.now-playing {
   font-size: 1.2rem;
}

.album-art-container {
   width: 250px; /* Square Container: Width */
   height: 300px; /* Square Container: Height */
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto; /* Center the container itself if needed */
}

.album-art {
   max-width: 100%; /* Ensure image doesn't overflow its container */
   max-height: 100%; /* Maintain aspect ratio */
   object-fit: cover; /* Cover the container, maintaining aspect ratio */
}

.song-info {
   text-align: center;
}

.song-title {
   font-size: 1rem;
   font-weight: 600;
   margin-top: 10px;
}

.artist-name {
   font-size: 0.9rem;
}

.icon-button {
   background: none;
   border: none;
   color: #505a5b;
   font-size: 1.5rem;
   cursor: pointer;
}

.icon-button:hover {
   color: #697268; /* Darker sage green for hover state */
}

.music-controls .icon-button {
   margin: 0 15px;
}

.volume-container .icon-button {
   font-size: 1.2rem;
}

.volume-slider {
   width: 60%;
}

/* Additional styles for responsiveness and interactivity */
