* {
  box-sizing: border-box;
  background-color: rgb(19, 13, 78), 0, 128;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

header {
  text-align: center;
}

.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 650px;
}

h1 {
  margin: 20px 0;
  color: #333;
  font-size: 36px;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  color: #555;
}

.options {
  margin-top: 20px;
  position: relative;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.options label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  color: #555;
}

.options input {
  opacity: 0;
}


.checkmark {
  position: absolute;
  top: 0; 
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #445a69;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.options input:checked ~ .checkmark {
  background: #21bf73;
}

.options input:checked ~ .checkmark:after {
  transform: translate(-50%, -50%) scale(1);
}

.options .checkmark:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
 
}

button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #21bf73;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #156534;
}

#status {
  color: whitesmoke;
  margin-top: 20px;
}

#navbuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn-primary,
.btn-success {
  margin: 0 10px;
}

.question-ml-sm-5-pl-sm-5-pt-2{
  font-size: 35px;
  font-weight: bolder;
  
}


